<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link rel="stylesheet" th:href="@{/boot/css/bootstrap.min.css}"/>
    <script th:src="@{/boot/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/boot/js/bootstrap.min.js}"></script>
</head>
<body>
<!--导航栏-->
<div th:replace="~{commons/commons::topbar}"></div>
<h2 class="col-sm-6 col-sm-offset-3 text-center">用户登录</h2>
<form class="col-sm-6 col-sm-offset-3" method="post" action="/user/toLogin">
    <div class="form-group">
        <label for="stuNum">学号</label>
        <input type="text" class="form-control" id="stuNum" name="num" placeholder="请输入学号">
    </div>
    <div class="form-group">
        <label for="stuPassword">密码:</label>
        <input type="password" class="form-control" id="stuPassword" name="password" placeholder="请输入密码">
    </div>
    <div class="form-group">
        <label for="code">验证码:</label>
        <div>
            <input type="text" class="form-control" style="width: 60%;float: left;height: 40px;" id="code" name="code" placeholder="请输入验证码">
            <img src="/user/verifyCodePicture" style="float: right;width: 200px;height: 40px;" alt="验证码">
        </div>
    </div>
    <div class="clearfix"></div>

    <button type="submit"  class="btn btn-danger " style="margin-top: 10px;float: left;width: 65%">登录</button>
    <a class="btn btn-info " style="margin-top: 10px;float: right; width: 30%" href="/user/register">注册</a>
</form>
</body>
</html>